
  .ajax-section .city {
    position: relative;
    padding: 40px 10%;
    border-radius: 20px;
    background: var(--text_light);
    color: var(--text_med);
  }
  
  .ajax-section .city-name sup {
    padding: 0.2em 0.6em;
    border-radius: 30px;
    color: var(--text_light);
    background: var(--orange);
  }
  
  .ajax-section .city-icon {
    margin-top: 10px;
    width: 50px;
    height: 50px;
  }

  .ajax-section .city-temp {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
    color: var(--text_dark);
  }

  .city-temp {

    padding: 10px;
  }
  sup{

    font-size:small ;
  }